# 忽略编译输出
*.o
*.a
*.so
*.exe

# 忽略日志文件
*.log

# 忽略临时文件
*.tmp
*.swp

# 忽略操作系统生成的文件
.DS_Store
Thumbs.db

# 忽略 IDE/编辑器生成的文件
.vscode/
.idea/*
!.idea/labuladong/
*.sublime-project
*.sublime-workspace

# 忽略 Node.js 项目的依赖目录
node_modules/

# 忽略 Python 项目的虚拟环境目录
venv/
__pycache__/
*.pyc

# 忽略 Java 项目的构建目录
target/
build/
